body{
	background: url('../img/rojo.jpg');
	background-attachment: fixed;
}

#logo{
	background: #f22613;
}

#menu ul li:hover{
	background: #f22613;
}

.button-more{
	background: #f22613;
}